.terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/crash.log
terraform/crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc

terraform/minecraft-key.pem

ansible/*.retry
